p strong
{
    color: violet;
}
strong 
{
    font-size: 50px;
}
.fontlarge
{
    font-size: medium;
}
.fontblue
{
    color: #ff0000;
}
#fontlarge
{
    font-size: medium;
}
#fontblue
{
    color: #ff0000;
}
